<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="M_Adnan">
<title>King Seafood - Về chúng tôi</title>

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/ionicons.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!-- JavaScripts -->
<script src="js/modernizr.js"></script>

<!-- Online Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>

<!-- Wrap -->
<div id="wrap"> 
  
  <!-- header -->
  <header th:replace="~{/site/fragments/header :: header}"></header>
  
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>VỀ KING SEAFOOD</h4>
        <p>Hệ thống phân phối hải sản chất lượng hàng đầu khu vực miền nam, với phương châm chất lượng là danh dự doanh nghiệp
        chúng tôi sẽ làm quý khách hài lòng khi đến với chúng tôi</p>
        <ol class="breadcrumb">
          <li><a th:href=@{/}>Trang chủ</a></li>
          <li class="active">Về King Seafood</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- History -->
    <section class="history-block padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="row">
          <div class="col-xs-10 center-block">
            <div class="col-sm-9 center-block">
              <h4>Lịch sử hình thành</h4>
              <p>Với đội ngũ thành viên sáng lập 5 thành viên. 5 thành viên điều có điểm chung là nhà gần biển được thiên nhiên ưu đãi, chúng tôi quyết tâm đem sản
              vật mà thiên nhiên đã ưu đãi cho quê hương chúng tôi để quảng bá cho tất cả mọi người , để mọi người có thể thưởng thức được vị tươi ngon của hải sản 
              đậm chất của miền biển việt nam từ nam ra bắc. Hệ thống phân phối "Vua Hải Sản" rất vui khi được phục vụ bà con.<br>
                <br>
            </div>
            
            <!-- IMG --> 
            <img class="img-responsive margin-top-80 margin-bottom-80" src="images/logo2.jpg" alt="" style="width: 600px; margin-left: 200px">
            <div class="vision-text">
              <div class="col-lg-5">
                <h5 class="text-left">Tầm nhìn của chúng tôi</h5>
                <h2>Chúng tôi đã tạo ra những thứ tuyệt vời từ những trải nghiệm tuyệt vời</h2>
              </div>
              <div class="col-lg-7">
                <p>Chúng tôi là những thành viên sáng lập thương hiệu hải sản King Seafood, với những trải nghiệm của mình từ những nơi trên đất nước chúng tôi rất muốn đem hương vị hải sản của quê hương chúng tối để phục vụ mọi người đến từ mọi miền đất nước, và chí hướng cao hơn là đến từ mọi nơi trên thế giới. <br>
                  <br>
                  Hệ thống phân phối hải sản với thương hiệu "Vua hải sản" chúng tôi mong muốn thương hiệu của chúng tôi sẽ nằm trong lòng quý bà con đến từ mọi nơi trên đất nước Việt Nam và thế giới. Chúng tôi sẽ phục vụ bà con tận tình đến từ tấm lòng của chúng tôi. Chúng tôi rất mong sẽ được sự tin tưởng của quý bà con. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- OUR TEAM -->
    <section class="our-team light-gray-bg padding-top-150 padding-bottom-100">
      <div class="container">
        <div class="heading text-center">
          <h4>THÀNH VIÊN SÁNG LẬP</h4>
          <span>Những thanh niên mộng mơ Dreamy Knight</span> </div>
        
        <!-- TEAM -->
        <ul class="row">
          
          <!-- Member -->
          <li class="col-md-4 text-center animate fadeInUp" data-wow-delay="0.4s">
            <article> 
              <!-- abatar -->
              <div class="avatar"> <img class="img-circle" src="images/Dat.jpg" alt="" > 
                <!-- Team hover -->
                <div class="team-hover">
                  <div class="position-center-center">
                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> <a href="#."><i class="icon-social-dribbble"></i></a> </div>
                  </div>
                </div>
              </div>
              <!-- Team Detail -->
              <div class="team-names">
                <h6>KIỀU TIẾN ĐẠT</h6>
                <p>CEO & FOUNDER</p>
              </div>
            </article>
          </li>
          
          <!-- Member -->
          <li class="col-md-4 text-center animate fadeInUp" data-wow-delay="0.6s">
            <article> 
              <!-- abatar -->
              <div class="avatar"> <img class="img-circle" src="images/Cong.jpg" alt="" > 
                <!-- Team hover -->
                <div class="team-hover">
                  <div class="position-center-center">
                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> <a href="#."><i class="icon-social-dribbble"></i></a> </div>
                  </div>
                </div>
              </div>
              <!-- Team Detail -->
              <div class="team-names">
                <h6>VÕ CHÍ CÔNG</h6>
                <p>GĐ TÀI CHÍNH</p>
              </div>
            </article>
          </li>
          
          <!-- Member -->
          <li class="col-md-4 text-center animate fadeInUp" data-wow-delay="0.8s">
            <article> 
              <!-- abatar -->
              <div class="avatar"> <img class="img-circle" src="images/Nhat.jpg" alt="" > 
                <!-- Team hover -->
                <div class="team-hover">
                  <div class="position-center-center">
                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> <a href="#."><i class="icon-social-dribbble"></i></a> </div>
                  </div>
                </div>
              </div>
              <!-- Team Detail -->
              <div class="team-names">
                <h6>NGUYỄN VIỆT NHẤT</h6>
                <p>GĐ NHÂN SỰ</p>
              </div>
            </article>
          </li>
          <!-- Member -->
          <li class="col-md-6 text-center animate fadeInUp" data-wow-delay="0.8s">
            <article> 
              <!-- abatar -->
              <div class="avatar"> <img class="img-circle" src="images/Nghia.jpg" alt="" > 
                <!-- Team hover -->
                <div class="team-hover">
                  <div class="position-center-center">
                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> <a href="#."><i class="icon-social-dribbble"></i></a> </div>
                  </div>
                </div>
              </div>
              <!-- Team Detail -->
              <div class="team-names">
                <h6>PHẠM HỬU NGHĨA</h6>
                <p>GĐ KINH DOANH</p>
              </div>
            </article>
          </li>
          <!-- Member -->
          <li class="col-md-6 text-center animate fadeInUp" data-wow-delay="0.8s">
            <article> 
              <!-- abatar -->
              <div class="avatar"> <img class="img-circle" src="images/Tien.jpg" alt="" > 
                <!-- Team hover -->
                <div class="team-hover">
                  <div class="position-center-center">
                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> <a href="#."><i class="icon-social-dribbble"></i></a> </div>
                  </div>
                </div>
              </div>
              <!-- Team Detail -->
              <div class="team-names">
                <h6>ĐOÀN TRỌNG TIẾN</h6>
                <p>GĐ IT</p>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </section>
    
    <!-- TWEET -->
    <section class="tweet padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="col-md-8 center-block"> <i class="icon-social-twitter"></i>
          <p>Với đội ngủ thành viên sáng lập tưởi trẻ đầy nhiệt huyết chúng tôi tin rằng chúng tôi sẽ là một doanh nghiệp mới nhưng rất tiềm năng phát triển </p>
          <span><span class="primary-color">@King SeaFood</span> 4 hours ago via Facebook</span> </div>
      </div>
    </section>
    
    <!-- WORK WITH US -->
    <section class="our-team padding-top-150 padding-bottom-100">
      <div class="container">
        <div class="heading text-center">
          <h4>CHÚNG TÔI LÀM VIỆC VỚI NHỮNG ĐIỀU TỐT NHẤT</h4>
          <span>Chúng tôi tự hào rằng chúng tôi có những nhà tài trợ tuyệt vời</span> </div>
        <ul class="clients-img">
          <li> <img class="img-responsive" src="images/c-img-1.jpg" alt=""> </li>
          <li> <img class="img-responsive" src="images/c-img-2.jpg" alt=""> </li>
          <li> <img class="img-responsive" src="images/c-img-3.jpg" alt=""> </li>
          <li> <img class="img-responsive" src="images/c-img-4.jpg" alt=""> </li>
        </ul>
      </div>
    </section>
    
    <!-- About -->
    <section class="small-about padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>Chúng tôi sẽ đem lại những giá trị tuyệt vời</h4>
          <p>Đối với chúng tôi thành công không đến từ giá trị vật chất mà là thành công đến từ sự tin tưởng và quay lại của khách hàng. Vì vậy chúng tôi
          đặt khách là lên trên mọi giá trị. </p>
        </div>
        
        <!-- Social Icons -->
        <ul class="social_icons">
          <li><a href="#."><i class="icon-social-facebook"></i></a></li>
          <li><a href="#."><i class="icon-social-twitter"></i></a></li>
          <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
          <li><a href="#."><i class="icon-social-youtube"></i></a></li>
          <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
        </ul>
      </div>
    </section>
    
    <!-- News Letter -->
    <section class="news-letter padding-top-150 padding-bottom-150">
      <div class="container">
        <div class="heading light-head text-center margin-bottom-30">
          <h4>Liên hệ</h4>
          <span>Bằng cách điền email của bạn vào đây chúng tôi sẽ liên hệ qua mail nhanh nhất có thể. Trân trọng! </span> </div>
        <form>
          <input type="email" placeholder="Nhập địa chỉ email..." required>
          <button type="submit">GỬI</button>
        </form>
      </div>
    </section>
  </div>
  
  <!--======= FOOTER =========-->
  <footer th:replace="~{/site/fragments/footer :: footer}"></footer>

</div>
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/own-menu.js"></script> 
<script src="js/jquery.lighter.js"></script> 
<script src="js/owl.carousel.min.js"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.t.min.js"></script> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.min.js"></script> 
<script src="js/main.js"></script> 

<!-- Begin Map Script --> 
<script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false'></script> 
<script type="text/javascript">
/*==========  Map  ==========*/
var map;
function initialize_map() {
if ($('#map').length) {
	var myLatLng = new google.maps.LatLng(-37.814199, 144.961560);
	var mapOptions = {
		zoom: 17,
		center: myLatLng,
		scrollwheel: false,
		panControl: false,
		zoomControl: true,
		scaleControl: false,
		mapTypeControl: false,
		streetViewControl: false
	};
	map = new google.maps.Map(document.getElementById('map'), mapOptions);
	var marker = new google.maps.Marker({
		position: myLatLng,
		map: map,
		tittle: 'Envato',
		icon: './images/map-locator.png'
	});
} else {
	return false;
}}
google.maps.event.addDomListener(window, 'load', initialize_map);
</script>
</body>
</html>