<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="M_Adnan">
<title>King Seafood - Đổi mật khẩu</title>

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/ionicons.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!-- JavaScripts -->
<script src="js/modernizr.js"></script>

<!-- Online Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>

<!-- Wrap -->
<div id="wrap"> 
  
  <!-- header -->
  <header th:replace="~{/site/fragments/header :: header}"></header>
  
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>ĐỔI MẬT KHẨU</h4>
        <p>Hệ thống bán hải sản King Seafood</p>
        <ol class="breadcrumb">
          <li><a th:href="@{/}">Trang chủ</a></li>
          <li class="active">Đổi mật khẩu</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!--======= PAGES INNER =========-->
    <section class="chart-page padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Payments Steps -->
        <div class="shopping-cart"> 
          
          <!-- SHOPPING INFORMATION -->
          <div class="cart-ship-info">
            <div class="row"> 
              
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-7">
                <h6>ĐỔI MẬT KHẨU</h6>
                	
			<div class="col-6 offset-3 mt-5" th:unless="${message}">
				<a th:href="@{/}" class="fa fa-home"
					style="font-size: 50px; text-decoration: none; color: gray;"></a>
			</div>
			<div class="col-6 offset-3 mt-5 text-center" th:unless="${message}">
				<h3>ĐỔI MẬT KHẨU</h3>
			</div>
			<div class="alert alert-success col-6 offset-3 mt-5" role="alert"
				th:if="${message}" th:text="${message}"></div>
			<div class="col-6 offset-3 mt-5 text-center" th:if="${message}">
				<a th:href="@{/}" class="fa fa-home"
style="font-size: 50px; text-decoration: none; color: gray;"></a>
			</div>
			<div class="col-6 offset-3" th:unless="${message}"
				style="border: none; box-shadow: 0 0 2px gray; border-radius: 8px;">
				<form th:action="@{/changePassword}" class="p-3" method="post"
					th:object="${changePassword}">
					<input type="text" hidden="hidden" name="email" th:value="${email}" />
					<div class="form-group">
						<label for="newPassword" style="font-weight: 700;">Mật
							khẩu mới</label> <input type="password" name="newPassword"
							id="newPassword" th:value="*{newPassword}" class="form-control" />
						<small class="text-danger"
							th:if="${#fields.hasErrors('newPassword')}">Không được để
							trống và trên 6 kí tự</small>
					</div>
					<div class="form-group">
						<label for="confirmPassword" style="font-weight: 700;">Xác
							nhận mật khẩu</label> <input type="password" name="confirmPassword"
							th:value="*{confirmPassword}" id="confirmPassword"
							class="form-control" /> <small class="text-danger"
							th:if="${#fields.hasErrors('confirmPassword')}">Không
							được để trống và trên 6 kí tự</small> <small class="text-danger"
							th:if="${error}">Xác nhận mật khẩu không đúng</small>
					</div>
					<button class="btn btn-primary text-center">Đổi mật khẩu</button>
				</form>
			</div>
		</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- News Letter -->
    <section class="news-letter padding-top-150 padding-bottom-150">
      <div class="container">
        <div class="heading light-head text-center margin-bottom-30">
          <h4>Liên hệ</h4>
          <span>Bằng cách điền email của bạn vào đây chúng tôi sẽ liên hệ qua mail nhanh nhất có thể. Trân trọng! </span> </div>
        <form>
          <input type="email" placeholder="Nhập địa chỉ email..." required>
          <button type="submit">Gửi</button>
        </form>
      </div>
    </section>
  </div>
  
  <!--======= FOOTER =========-->
  <footer th:replace="~{/site/fragments/footer :: footer}"></footer>
  
  <!--======= RIGHTS =========--> 
  
</div>
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/own-menu.js"></script> 
<script src="js/jquery.lighter.js"></script> 
<script src="js/owl.carousel.min.js"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.t.min.js"></script> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.min.js"></script> 
<script src="js/main.js"></script> 
<script src="js/main.js"></script>
</body>
</html>
