<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="M_Adnan">
<title>King Seafood - Đăng ký</title>

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/ionicons.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!-- JavaScripts -->
<script src="js/modernizr.js"></script>

<!-- Online Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>

<!-- Wrap -->
<div id="wrap"> 
  
  <!-- header -->
  <header th:replace="~{/site/fragments/header :: header}"></header>
  
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>ĐĂNG KÝ</h4>
        <p>Đăng ký thành viên, bạn sẽ trở thành một thành viên của đại gia đình Vua hải sản, để nhận được những ưu đãi sớm nhất</p>
        <ol class="breadcrumb">
          <li><a th:href="@{/}">Trang chủ</a></li>
          <li class="active">Đăng ký</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!--======= PAGES INNER =========-->
    <section class="chart-page padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Payments Steps -->
        <div class="shopping-cart"> 
          
          <!-- SHOPPING INFORMATION -->
          <div class="cart-ship-info register">
            <div class="row"> 
              
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-12">
                <h6>ĐĂNG KÝ</h6>
                <div class="alert alert-danger col-6" th:if="${error}" th:text="${error}"></div>
				<div class="alert alert-success col-6" th:if="${message}" th:text="${message}"></div>
                <form th:action="@{/registered}" th:object="${customer}" method="post">
                  <ul class="row">
                    <!-- FULL NAME -->
                    <li class="col-md-6">
                      <label> *HỌ VÀ TÊN
                        <input th:field="*{fullname}" type="text" name="fullname" value="" placeholder="Họ và tên..." required="required">
                      </label>
                    </li>
                    
                    <!-- LAST NAME -->
                    <li class="col-md-6">
                      <label> *ID ĐĂNG NHẬP
                        <input th:field="*{customerId}" type="text" name="customerId" value="" placeholder="ID đăng nhập..." required="required">
                      </label>
                    </li>

                     <!-- EMAIL -->
                    <li class="col-md-6"> 
                      <label>*EMAIL
                        <input th:field="*{email}" type="email" name="email" value="" placeholder="Email..." required="required">
                      </label>
                    </li>

                    <!-- PASSWORD -->
                    <li class="col-md-6"> 
                      <label>*MẬT KHẨU
                        <input th:field="*{password}" type="password" id="myPassRegister" name="password" value="" placeholder="Mật khẩu..." required="required">
                      </label>
                    </li>
                    
                    <!-- SUBMIT -->
                    <li class="col-md-6">
                      <button type="submit" class="btn">ĐĂNG KÝ</button>
                    </li>
                    
                    <!-- Check password -->
                    <li class="col-md-6">
                      <div class="checkbox margin-0 margin-top-20">
                        <input id="checkbox1" class="styled" type="checkbox">
                        <label for="checkbox1" onclick="hidePass()"> Hiện mật khẩu</label>
                      </div>
                    </li>
                  </ul>
                </form>
                
                <!-- show password -->
				<script>
					function hidePass() {
						var y = document.getElementById("myPassRegister");
						if (y.type === "password") {
							y.type = "text";
						} else {
							y.type = "password";
						}
					}
				</script>
				
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- About -->
    <section class="small-about padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>VỀ CHÚNG TÔI</h4>
          <p>Chúng tôi tự hào mình là nhà cung cấp hải sản tươi sống chất lượng đến cho mọi nhà, với phương châm chất lượng là danh dự đến từ doanh nghiệp 
          chúng tôi tự tin sẽ làm hài lòng quý khách hàng một cách tận tình nhất </p>
        </div>
        
        <!-- Social Icons -->
        <ul class="social_icons">
          <li><a href="#."><i class="icon-social-facebook"></i></a></li>
          <li><a href="#."><i class="icon-social-twitter"></i></a></li>
          <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
          <li><a href="#."><i class="icon-social-youtube"></i></a></li>
          <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
        </ul>
      </div>
    </section>
    
    <!-- News Letter -->
    <section class="news-letter padding-top-150 padding-bottom-150">
      <div class="container">
        <div class="heading light-head text-center margin-bottom-30">
          <h4>Liên Hệ</h4>
          <span>Bằng cách điền email của bạn vào đây chúng tôi sẽ liên hệ qua mail nhanh nhất có thể. Trân trọng! </span> </div>
        <form>
          <input type="email" placeholder="Nhập địa chỉ email..." required>
          <button type="submit">Gửi</button>
        </form>
      </div>
    </section>
  </div>
  
  <!--======= FOOTER =========-->
  <footer th:replace="~{/site/fragments/footer :: footer}"></footer>
  
  <!--======= RIGHTS =========--> 
  
</div>
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/own-menu.js"></script> 
<script src="js/jquery.lighter.js"></script> 
<script src="js/owl.carousel.min.js"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.t.min.js"></script> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.min.js"></script> 
<script src="js/main.js"></script> 
<script src="js/main.js"></script>
</body>