<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="M_Adnan">
<title>King Seafood - Sản phẩm</title>

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/ionicons.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!-- JavaScripts -->
<script src="js/modernizr.js"></script>

<!-- Online Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>

<!-- Wrap -->	
<div id="wrap"> 
  
  <!-- header -->
  <header th:replace="~{/site/fragments/header :: header}"></header>
  
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>SẢN PHẨM</h4>
        <p>Hệ thống phân phối hải sản chất lượng hàng đầu khu vực miền nam, với phương châm chất lượng là danh dự doanh nghiệp
        chúng tôi sẽ làm quý khách hài lòng khi đến với chúng tôi</p>
        <ol class="breadcrumb">
          <li><a th:href="@{/}">Trang chủ</a></li>
          <li class="active">Sản phẩm</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Products -->
    <section class="shop-page padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="row"> 
          
          <!-- Shop SideBar -->
          <div class="col-sm-3">
            <div class="shop-sidebar"> 
              
              <!-- Category -->
              <h5 class="shop-tittle margin-bottom-30">loại sản phẩm</h5>
              <ul class="shop-cate">
                <li th:each="item : ${coutnProductByCategory}">
                	<a th:href="@{/productByCategory(id=${item[0]})}"> [[${item[1]}]] <span>([[${item[2]}]])</span></a>
                </li>
              </ul>
                            
              <!-- BRAND -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">nhà phân phối</h5>
              <ul class="shop-cate">
                <li th:each="item : ${brandList}">
                	<a th:href="@{/productByBrand(id=${item.brandId})}">[[${item.brandName}]] </a>
                  </li>
              </ul>
				
              <!-- TAGS -->
              
              
              <!-- SIDE BACR BANER -->
              <div class="side-bnr margin-top-50"> <img class="img-responsive" src="images/baner.jpg" alt="">
              </div>
            </div>
          </div>
          
          <!-- Item Content -->
          <div class="col-sm-9">
            <div class="item-display">
              <div class="row">
                <div class="col-xs-6"> <span class="product-num">Hiển thị trang 1/6</span> </div>
                
                <!-- Products Select -->
                <div class="col-xs-6">
                  <div class="pull-right">
                    
                    <!-- GRID & LIST --> 
                    <a href="#." class="grid-style"><i class="icon-grid"></i></a> <a href="#." class="list-style"><i class="icon-list"></i></a> </div>
                </div>
              </div>
            </div>
            
            <!-- Popular Item Slide -->
            <div class="papular-block row"> 
            
              <!-- Item -->
              <div class="col-md-4" th:each="item : ${productList}">
                <div class="item">
                  <!-- Sale Tags -->
                  <div class="on-sale"><span>GIẢM</span> [[${#numbers.formatDecimal(item.discount, 1, 'DEFAULT', 0, 'DEFAULT')} + '%']] </div>
                  <!-- Item img -->
                  <div class="item-img">
	                  <img class="img-1" th:src="@{'/loadImage?imageName='+${item.image}}" alt="" >
	                  <img class="img-2" th:src="@{'/loadImage?imageName='+${item.image}}" alt="" > 
                    <!-- Overlay -->
                    <div class="overlay">
                      <div class="position-center-center">
                        <div class="inn">
	                        <a th:href="@{'/loadImage?imageName='+${item.image}}" data-lighter data-toggle="tooltip" data-placement="top" title="Chi tiết">
	                        	<i class="icon-magnifier"></i>
	                        </a>
	                        <a th:href="@{/addToCart(productId=${item.productId})}" data-toggle="tooltip" data-placement="top" title="Thêm vào Giỏ hàng">
	                       		<i class="icon-basket"></i>
	                        </a>
	                        <a href="#." data-toggle="tooltip" data-placement="top" title="Thêm vào Danh sách yêu thích" >
	                        	<i class="icon-heart"></i>
	                        </a>
                        </div>
           
           
                      </div>
                    </div>
                  </div>
                  <!-- Item Name -->
                  <div class="item-name"> <a th:href="@{/productDetail(id=${item.productId})}">[[${item.name}]]</a>
                  </div>
                  <!-- Price --> 
                  <span class="price">
                 
                  <span style="text-decoration: line-through black; color: gray;">[[${#numbers.formatDecimal(item.price, 1, 'DEFAULT', 0, 'DEFAULT')}]].000 <small>VNĐ</small></span> -
                  
                  <!-- price - discount -->
                  [[${#numbers.formatDecimal(item.price - (item.price * item.discount/100), 1, 'DEFAULT', 0, 'DEFAULT')}]].000<small>VNĐ</small>
                  </span>
                </div>
              </div>
            
             <!-- Pagination -->
             <!-- <ul class="pagination in-center">
              <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul> -->
            
            <ul class="pagination in-center">
				<li class="page-item" th:if="${productList.totalPages > 0}"
					th:each="pageNumber : ${pageNumbers}">
					<a
						th:href="@{/products(size=${productList.size}, page=${pageNumber})}"
						th:text=${pageNumber}
						th:class="${pageNumber==productList.number + 1} ? active"
						class="page-link">
					</a>
				</li>
			</ul>
          </div>
        </div>
      </div>
      </div>
    </section>
    
    <!-- About -->
    <section class="small-about padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>VỀ CHÚNG TÔI</h4>
          <p>Chúng tôi tự hào mình là nhà cung cấp hải sản tươi sống chất lượng đến cho mọi nhà, với phương châm chất lượng là danh dự đến từ doanh nghiệp 
          chúng tôi tự tin sẽ làm hài lòng quý khách hàng một cách tận tình nhất </p>
        </div>
        
        <!-- Social Icons -->
        <ul class="social_icons">
          <li><a href="#."><i class="icon-social-facebook"></i></a></li>
          <li><a href="#."><i class="icon-social-twitter"></i></a></li>
          <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
          <li><a href="#."><i class="icon-social-youtube"></i></a></li>
          <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
        </ul>
      </div>
    </section>
    
    <!-- News Letter -->
    <section class="news-letter padding-top-150 padding-bottom-150">
      <div class="container">
        <div class="heading light-head text-center margin-bottom-30">
          <h4>Liên hệ</h4>
          <span>Bằng cách điền email của bạn vào đây chúng tôi sẽ liên hệ qua mail nhanh nhất có thể. Trân trọng! </span> </div>
        <form>
          <input type="email" placeholder="Nhập địa chỉ email..." required>
          <button type="submit">GỬI</button>
        </form>
      </div>
    </section>
  </div>
  
  <!--======= FOOTER =========-->
  <footer th:replace="~{/site/fragments/footer :: footer}"></footer>
  
  <!--======= RIGHTS =========--> 
  
</div>
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/own-menu.js"></script> 
<script src="js/jquery.lighter.js"></script> 
<script src="js/owl.carousel.min.js"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.t.min.js"></script> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.min.js"></script> 
<script src="js/main.js"></script> 
<script src="js/main.js"></script>
</body>
</html>