<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<th:block th:fragment= "header">
<header>
    <div class="sticky">
      <div class="container"> 
        <!-- Logo -->
        <div class="logo"> <a th:href="@{/}"><img class="img-responsive" src="../../../images/logo.png" alt=""></a> </div>
        <nav class="navbar ownmenu">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"><i class="fa fa-navicon"></i></span> </button>
          </div>
          <!-- NAV -->
          <div class="collapse navbar-collapse" id="nav-open-btn">
            <ul class="nav">
              <li class="active"> <a th:href="@{/}">TRANG CHỦ </a> </li>
              <li> <a th:href="@{/products}">SẢN PHẨM </a> </li>
              <li> <a th:href="@{/aboutUs}">VỀ CHÚNG TÔI </a> </li>
              <!-- MEGA MENU -->
              <th:block th:unless="${#request.remoteUser}">
	              <li> <a th:href="@{/registered}">ĐĂNG KÝ </a> </li>
	              <li> <a th:href="@{/login}">ĐĂNG NHẬP </a> </li>
              </th:block>
            </ul>
          </div>
          
          <!-- Nav Right -->
          <div class="nav-right">
            <ul class="navbar-right">
              
              <!-- USER INFO -->
              <th:block th:if="${#request.remoteUser}">
              <li class="dropdown user-acc"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ><i class="icon-user"></i> </a>
                <ul class="dropdown-menu">
                  <li>
                    <h6>XIN CHÀO [[${customer.fullname}]]</h6>
                  </li>
                   <li><a th:href="@{/customer/info}">THÔNG TIN KHÁCH HÀNG</a></li>
                  <li><a th:href="@{/cartItem}">GIỎ HÀNG</a></li>
                  <li><a th:href="@{/logout}">ĐĂNG XUẤT</a></li>
                 
                </ul>
              </li>
              </th:block>
              
              <!-- USER BASKET -->
              <li class="dropdown user-basket">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
              	<i class="icon-basket-loaded"></i><small style="background-color: yellow; font-weight: bolder;">
              		<th:block th:if="cartItems != null">
              			([[${totalCartItems}]])
              		</th:block>
              		<th:block th:if="cartItems == null">
              			(0)
              		</th:block>
              	</small>
              </a>
              	
                <ul class="dropdown-menu">
                <th:block th:if="${totalCartItems !=0}">
                  <li th:each="item : ${cartItems}">
                    <div class="media-left">
                      <div class="cart-img">
                      <a href="#">
                      	<img class="media-object img-responsive" th:src="@{'/loadImage?imageName='+${item.product.image}}" alt="">
                      </a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">[[${item.product.name}]]</h6>
                      <span class="price">Đơn giá : [[${#numbers.formatDecimal((item.product.price - (item.product.price * item.product.discount/100)) * item.quantity, 1, 'DEFAULT', 0, 'DEFAULT')}]],000 VNĐ</span>
                      <span class="qty">Số lượng : [[${item.quantity}]]</span>
                    </div>
                  </li>
                  <li>
                    <h5 class="text-center">TỔNG CỘNG: [[${#numbers.formatDecimal(totalPrice, 1, 'DEFAULT', 0, 'DEFAULT')}]],000 VNĐ</h5>
                  </li>
                  <li class="margin-0">
                    <div class="row">
                      <div class="col-xs-6"> <a th:href="@{/cartItem}" class="btn">XEM GIỎ HÀNG</a></div>
                      <div class="col-xs-6 "> <a th:href="@{/checkOut}" class="btn">ĐẶT HÀNG</a></div>
                    </div>
                  </li>
                  </th:block>
                  
                  <th:block th:if="${totalCartItems ==0}">
                  	<li>
                        <h5 class="text-center">Không có sản phẩm nào trong giỏ hàng!</h5>
                    </li>
                  </th:block>
                </ul>
                
              </li>
              
              
              
              <!-- SEARCH BAR -->
              <li class="dropdown"> <a href="javascript:void(0);" class="search-open"><i class=" icon-magnifier"></i></a>
                <div class="search-inside animated bounceInUp"> <i class="icon-close search-close"></i>
                  <div class="search-overlay"></div>
                  <div class="position-center-center">
                    <div class="search">
                      <form th:action="@{/searchProduct}">
                        <input name="keyword" th:value="${keyword}" type="search" placeholder="Tìm kiếm sản phẩm...">
                        <button type="submit"><i class="icon-check"></i></button>
                      </form>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
</th:block>
</body>
</html>